.skillsContainer,
.statsContainer {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 20px;
}

.skillsList,
.statsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skillItem {
  margin-bottom: 10px;
}